/* АНИМАЦИЯ МИГАЮЩЕГО ТЕКСТА */
.blink-text-animation{
    p{
    -webkit-animation: blink 1.5s linear infinite;
    animation: blink 1.5s linear infinite;}
}
@-webkit-keyframes blink {
    100% { color: rgba(255, 255, 255, 0); }
}

@keyframes blink {
    100% { color: rgba(255, 255, 255, 0); } 
}

.soft-blink-text-animation h1,
.soft-blink-text-animation h2 {
    -webkit-animation: soft-blink 2s ease-in-out infinite;
    animation: soft-blink 2s ease-in-out infinite;
    animation-delay: 0.5s;
}

@-webkit-keyframes soft-blink {
    0%, 100% { 
        opacity: 1;
    }
    50% { 
        opacity: 0.3;
    }
}

@keyframes soft-blink {
    0%, 100% { 
        opacity: 1;
    }
    50% { 
        opacity: 0.3;
    }
}

/* АНИМАЦИЯ КРУТЯЩИХСЯ ЗВЕЗД */
.star {
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.star:hover {
    transform: rotate(360deg) scale(1.2);
}



/* АНИМАЦИЯ БЕГУЩЕЙ СТРОКИ ЛИЦ */
.faces-track-left, .faces-track-right {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    height: 100%;
}

.faces-track-left {
    left: 0;
    width: calc(21.2vw * 2);
    animation: facesScrollToCenterLeft 3s linear infinite;
}

.faces-track-right {
    right: 0;
    width: calc(21.2vw * 2);
    animation: facesScrollToCenterRight 3s linear infinite;
}

@keyframes facesScrollToCenterLeft {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes facesScrollToCenterRight {
    0% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(0);
    }
}



/* КРУТЯЩИЙСЯ 3Д ЖГУТ */
.rotate-x-perspective {
    animation: rotateXPerspective 3s linear infinite;
    transform-style: preserve-3d;
    transform: perspective(600px) rotateX(var(--angle, 0deg));
}
.rotate-x-perspective-fast {
    animation: rotateXPerspective 2s linear infinite;
    transform-style: preserve-3d;
    transform: perspective(700px) rotateX(var(--angle, 0deg));
}
@keyframes rotateXPerspective {
    0% {
        --angle: 0deg;
        transform: perspective(600px) rotateX(0deg);
    }
    100% {
        --angle: 360deg;
        transform: perspective(600px) rotateX(360deg);
    }
}


/* ВРАЩЕНИЕ КРУГОВ ВОКРУГ СЕБЯ */
.spinning-image-right {
    animation: spinRight 5s linear infinite;
    transform-origin: center;
}
.spinning-image-left {
    animation: spinLeft 5s linear infinite;
    transform-origin: center;
}

@keyframes spinRight {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes spinLeft {
    from { transform: rotate(0deg); }
    to { transform: rotate(-360deg); }
}




/* АНИМАЦИЯ СКАНИРОВАНИЯ */
.scan-line-horizontal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.26vw;
    background-color: #B69AB4;
    animation: scanHorizontal 5s linear infinite;
    z-index: 10;
}

.scan-line-vertical {
    position: absolute;
    top: 0;
    left: 0;
    width: 0.26vw;
    height: 100%;
    background-color: #B69AB4;
    animation: scanVertical 5s linear infinite;
    z-index: 10;
}

@keyframes scanHorizontal {
    0%, 100% {
        top: 0;
    }
    50% {
        top: calc(100% - 0.1vw);
    }
}

@keyframes scanVertical {
    0%, 100% {
        left: 0;
    }
    50% {
        left: calc(100% - 0.1vw);
    }
}




/*ЛЕТАЮЩИЕ КВАДРАТЫ */
.floating-square {
    position: absolute;
    width: var(--size, 1.3vw);
    height: var(--size, 1.3vw);
    border: 0.21vw solid white;
    background-color: white;
    animation: floatUpInfinite var(--duration, 5s) linear infinite;
    animation-delay: var(--delay, 0s);
    left: var(--position, 10%);
    bottom: -2.6vw;
}

@keyframes floatUpInfinite {
    0% {
        transform: translateY(0) rotate(0deg) scale(0.8);
    }
    50% {
        transform: translateY(var(--mid-y, -13.75vw)) rotate(180deg) scale(1);
    }
    100% {
        transform: translateY(var(--end-y, -31.25vw)) rotate(360deg) scale(0.8);
    }
}

.floating-square:nth-child(1) {
    --size: 1.04vw;
    --duration: 6s;
    --delay: 0s;
    --position: 5%;
    --mid-y: -13vw;
    --end-y: -31.25vw;
}

.floating-square:nth-child(2) {
    --size: 1.82vw;
    --duration: 9s;
    --delay: 1s;
    --position: 15%;
    --mid-y: -15.63vw;
    --end-y: -36.46vw;
}

.floating-square:nth-child(3) {
    --size: 1.3vw;
    --duration: 7.5s;
    --delay: 2s;
    --position: 25%;
    --mid-y: -14.58vw;
    --end-y: -33.85vw;
}

.floating-square:nth-child(4) {
    --size: 2.08vw;
    --duration: 10s;
    --delay: 3s;
    --position: 35%;
    --mid-y: -16.67vw;
    --end-y: -39.06vw;
}

.floating-square:nth-child(5) {
    --size: 0.78vw;
    --duration: 5s;
    --delay: 4s;
    --position: 45%;
    --mid-y: -10.42vw;
    --end-y: -26.04vw;
}

.floating-square:nth-child(6) {
    --size: 1.56vw;
    --duration: 8s;
    --delay: 5s;
    --position: 55%;
    --mid-y: -15.1vw;
    --end-y: -35.42vw;
}

.floating-square:nth-child(7) {
    --size: 1.15vw;
    --duration: 7s;
    --delay: 6s;
    --position: 65%;
    --mid-y: -14.06vw;
    --end-y: -33.33vw;
}

.floating-square:nth-child(8) {
    --size: 1.98vw;
    --duration: 11s;
    --delay: 7s;
    --position: 75%;
    --mid-y: -18.23vw;
    --end-y: -41.67vw;
}

.floating-square:nth-child(9) {
    --size: 0.94vw;
    --duration: 5.5s;
    --delay: 8s;
    --position: 85%;
    --mid-y: -11.98vw;
    --end-y: -29.17vw;
}

.floating-square:nth-child(10) {
    --size: 1.67vw;
    --duration: 8.5s;
    --delay: 9s;
    --position: 95%;
    --mid-y: -16.15vw;
    --end-y: -37.5vw;
}

.floating-square:nth-child(11) {
    --size: 1.46vw;
    --duration: 9.5s;
    --delay: 10s;
    --position: 8%;
    --mid-y: -17.19vw;
    --end-y: -39.58vw;
}

.floating-square:nth-child(12) {
    --size: 2.19vw;
    --duration: 12s;
    --delay: 11s;
    --position: 22%;
    --mid-y: -19.79vw;
    --end-y: -44.79vw;
}

.floating-square:nth-child(13) {
    --size: 0.89vw;
    --duration: 6.5s;
    --delay: 12s;
    --position: 38%;
    --mid-y: -12.5vw;
    --end-y: -30.21vw;
}

.floating-square:nth-child(14) {
    --size: 1.93vw;
    --duration: 10.5s;
    --delay: 13s;
    --position: 52%;
    --mid-y: -17.71vw;
    --end-y: -40.63vw;
}

.floating-square:nth-child(15) {
    --size: 1.2vw;
    --duration: 7s;
    --delay: 14s;
    --position: 68%;
    --mid-y: -13.54vw;
    --end-y: -32.29vw;
}

.floating-square:nth-child(16) {
    --size: 1.72vw;
    --duration: 8s;
    --delay: 15s;
    --position: 82%;
    --mid-y: -15.63vw;
    --end-y: -36.46vw;
}

.floating-square:nth-child(17) {
    --size: 0.99vw;
    --duration: 6s;
    --delay: 16s;
    --position: 12%;
    --mid-y: -11.46vw;
    --end-y: -28.13vw;
}

.floating-square:nth-child(18) {
    --size: 2.14vw;
    --duration: 11.5s;
    --delay: 17s;
    --position: 28%;
    --mid-y: -19.27vw;
    --end-y: -43.75vw;
}

.floating-square:nth-child(19) {
    --size: 1.35vw;
    --duration: 7.5s;
    --delay: 18s;
    --position: 42%;
    --mid-y: -15.1vw;
    --end-y: -35.42vw;
}

.floating-square:nth-child(20) {
    --size: 1.88vw;
    --duration: 9s;
    --delay: 19s;
    --position: 58%;
    --mid-y: -16.67vw;
    --end-y: -38.54vw;
}

/* двигающаяся сетка */
.gradient-2-block {
    position: relative;
    background-image: url(../assets/images/grid-bg.svg);
    animation: bg-scrolling-reverse 15s infinite linear;
    background-size: 155vw 137.9vw;
}

@keyframes bg-scrolling-reverse {
    100% {
        background-position: 100% 100%;
    }
}




.animation-back-and-forth-3d {
    animation: pulse-perspective 4s infinite ease-in-out;
}

@keyframes pulse-perspective {
    0%, 100% {
        transform: perspective(1000px) translateZ(-80px);
    }
    50% {
        transform: perspective(600px) translateZ(80px);
    }
}

.animation-y{
    animation: rotate-y 4s infinite linear;
}

@keyframes rotate-y {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}



/*АНИМАЦИЯ ЛИНИЙ ЗАГРУЗКИ*/
.loading-track-left {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    width: 200%;
    height: 100%;
    animation: loading-left-right 8s linear infinite;
}
.loading-track-right {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    width: 200%;
    height: 100%;
    animation: loading-right-left 8s linear infinite;
}


@keyframes loading-right-left {
    0% {
        transform: translateY(-50%) translateX(0);
    }
    100% {
        transform: translateY(-50%) translateX(-50%);
    }
}
@keyframes loading-left-right {
    0% {
        transform: translateY(-50%) translateX(-50%);
    }
    100% {
        transform: translateY(-50%) translateX(0);
    }
}



/*АНИМАЦИЯ СМЕНЫ ИНФОРМАЦИИ В ТАБЛИЦЕ*/
.text-changer {
    position: relative;
}

.text-changer p {
    position: absolute;
    top: 0;
    left: 0.42vw;
    opacity: 0;
    animation: textStrobe 1.5s infinite;
}

.text-changer p:nth-child(1) { animation-delay: 0s; }
.text-changer p:nth-child(2) { animation-delay: 0.3s; }
.text-changer p:nth-child(3) { animation-delay: 0.6s; }
.text-changer p:nth-child(4) { animation-delay: 0.9s; }
.text-changer p:nth-child(5) { animation-delay: 1.2s; }

@keyframes textStrobe {
    0%, 20% {
        opacity: 1;
    }
    21%, 100% {
        opacity: 0;
    }
}



/*АНИМАЦИЯ ПУЛЬСИРУЮЩЕЙ РАМКИ ОТПЕЧАТКОВ ПАЛЬЦЕВ*/
.animation-back-and-forth-3d-finger-frame {
    animation: pulse-perspective 0.35s infinite ease-in-out;
}

@keyframes pulse-perspective {
    0%, 100% {
        transform: perspective(450px) translateZ(-50px);
    }
    50% {
        transform: perspective(2000px) translateZ(50px);
    }
}

/*АНИМАЦИЯ СМЕНЯЮЩИХСЯ ОТПЕЧАТКОВ ПАЛЬЦЕВ*/
.image-changer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.image-changer img {
    position: absolute;
    object-fit: contain;
    animation: strobeFlash 1.5s infinite;
    opacity: 0;
}
.image-changer img:nth-child(1) { animation-delay: 0s; }
.image-changer img:nth-child(2) { animation-delay: 0.3s; }
.image-changer img:nth-child(3) { animation-delay: 0.6s; }
.image-changer img:nth-child(4) { animation-delay: 0.9s; }
.image-changer img:nth-child(5) { animation-delay: 1.2s; }

@keyframes strobeFlash {
    0%, 20% {
        opacity: 1;
    }
    21%, 100% {
        opacity: 0;
    }
}

/*ПУЛЬСИРУЮЩИЕ ШАРЫ*/

.pulsing-ball {
    animation: pulseScale 3s ease-in-out infinite; 
    animation-delay: 0s;
}
.pulsing-ball:nth-child(1) {
    animation-delay: 0s; /* первый шар сразу */
}

.pulsing-ball:nth-child(2) {
    animation-delay: 0.5s; /* второй с задержкой */
}

.pulsing-ball:nth-child(3) {
    animation-delay: 1s; /* третий тоже*/
}

@keyframes pulseScale {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.81);
        opacity: 0.5;
    }
}

/*ПУЛЬСИРУЮЩИЙ ТЕКСТ НЕЙРО*/
.neiro-text-1 p,
.neiro-text-2 p,
.neiro-text-3 p {
    position: relative;
    display: inline-block;
    animation: neiroFloat 3s ease-in-out infinite;
    opacity: 1;
}

.neiro-text-1 p { animation-delay: 0s; }
.neiro-text-2 p { animation-delay: 0.5s; }
.neiro-text-3 p { animation-delay: 1s; }

@keyframes neiroFloat {
    0%, 100% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    50% {
        transform: translateY(-0.78vw) scale(1.05);
        opacity: 0.5;
    }
}



/*АНИМАЦИЯ СКАНИРОВАНИЯ ШАРА*/
.move-container {
    animation: moveInOut 8s ease-in-out infinite;
    transform-style: preserve-3d;
}

.spin-container {
    animation: spin3D 3s linear infinite;
    transform-style: preserve-3d;
}

.spin-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@keyframes spin3D {
    from { transform: rotateY(0deg); }
    to { transform: rotateY(360deg); }
}

@keyframes moveInOut {
    0%, 100% {
        transform: translateZ(-5.21vw);
    }
    50% {
        transform: translateZ(5.21vw);
    }
}